button {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

thead {
  color: white;
  background-color: black;
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}
