* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  margin: 0 2rem;
}

.row {
  display: flex;
  justify-content: center;
}

.column-full {
  flex-basis: 100%;
}

h1 {
  text-align: center;
}

.carousel {
  text-align: center;
  border: 4px solid black;
  margin: 0 auto;
}

img {
  object-fit: scale-down;
  width: 100%;
  height: 400px;
}

.progress-dots {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.progress-dots > span {
  margin: 0 0.25rem;
}

.progress-dots > span:hover {
  cursor: pointer;
}
