.container-1 {
  color: #6e6e6e;
  font-family: Avenir, sans-serif;
  padding: 1rem 4rem;
  border-bottom: 1px solid #e7e9ec;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-1-1 > img {
  width: 45%;
  height: auto;
}

.col-1-2 > a {
  color: #6e6e6e;
  font-size: 0.85rem;
  text-decoration: none;
  padding-left: 1.25rem;
}

.col-1-2 > button {
  color: #fff;
  background-color: #294464;
  font-family: Avenir, sans-serif;
  font-weight: normal;
  font-size: 0.85rem;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 3px;
  margin-left: 1.25rem;
}

.container-2 {
  padding: 3rem 4rem;
}

.row-2 {
  color: #fff;
  background: linear-gradient(rgb(50 50 50 / 25%), rgb(50 50 50 / 25%)), url("images/hero.jpg");
  background-size: cover;
  padding: 2rem 0 3.5rem 3rem;
}

.row-2 > h1 {
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding-top: 0;
  margin-bottom: 0;
}

.row-2 > p {
  font-family: Avenir, sans-serif;
  font-size: 0.85rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.row-2 > button {
  color: #fff;
  background-color: #294464;
  font-family: Avenir, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 3px;
}

.container-3 {
  background-color: #fafafa;
  padding: 2rem;
}

.row-3 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.col-full-3,
.col-half-3 {
  text-align: center;
}

.col-full-3 > h2 {
  color: #6e6e6e;
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.col-full-3 > p {
  color: #6e6e6e;
  font-family: Avenir, sans-serif;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.col-half-3 > h3 {
  color: #6e6e6e;
  font-family: Avenir, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 1.75rem;
}

.container-4 {
  padding: 1rem 4rem;
}

.row-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-4-1 > h2 {
  color: #6e6e6e;
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.col-4-1 > p {
  color: #6e6e6e;
  font-family: Avenir, sans-serif;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.col-4-2 > button {
  color: #fff;
  background-color: #294464;
  font-family: Avenir, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 3px;
}

.container-5 {
  color: #fff;
  background-color: #525351;
  font-family: Avenir, sans-serif;
  padding: 5rem 4rem 5.5rem;
}

.row-5 {
  display: flex;
}

.col-5-1 {
  flex-basis: 50%;
}

.col-5-1 > img {
  width: 30%;
  height: auto;
  margin-bottom: 1.5rem;
}

.col-5-1 > p {
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.col-5-2,
.col-5-3 {
  flex-basis: 25%;
  padding-left: 0.5rem;
}

.col-5-2 h3,
.col-5-3 h3 {
  font-weight: normal;
  margin-top: 0.25rem;
}

.col-5-2 ul,
.col-5-3 ul {
  list-style: none;
  padding-left: 0;
}

.col-5-2 li,
.col-5-3 li {
  margin-bottom: 1rem;
}

.col-5-2 a,
.col-5-3 a {
  color: #fff;
  text-decoration: none;
}

.container-6 {
  color: #6e6e6e;
  background-color: #fafafa;
  padding: 2.5rem 4rem;
}

.container-6 > a {
  color: #6e6e6e;
  font-family: Avenir, sans-serif;
  text-decoration: none;
  padding-right: 2rem;
}
